#staticCom {
    .static_container {
        .el-form-item__label {
            color: #Fff;
        }
        // 省份名称label的样式修改
        #c_name_1,#c_name_2,#c_name_3,#c_name_4{
            margin-left: 20px;
            .el-form-item__content{
                display: flex;
                button{
                    padding:0 8px 0 2px;
                    font-size: 14px;
                    color: #73b8ff;
                }
            }
        }
        #c_name_2,#c_name_4{
            margin-left: 10px;
        }
        // 实时交易数据模态框表单样式
        form#tempLiveTradeData{
            padding: 0;
            background-color: unset;
            box-shadow: unset;
            label{
                color:#000;
            }
        }
        .el-switch__label{
            color:rgba(255, 255, 255, .5);
        }
        .el-switch__label.el-switch__label--left.is-active{
            color: #ff4949;
        }
        .el-switch__label.el-switch__label--right.is-active{
            color: #13ce66;
        }
    }
    .el-scrollbar__wrap{
        overflow-x: hidden;
    }
}

